
.main content {
    text-align: center; 
   }
   
.feature{
    background-color: rgb(84, 177, 75);
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
 
.form-container {
  
}

.form-group {

}